body {
  background-color: #201F25;
  padding: 0;
  margin: 0;
  text-align: center; }

.logo {
  height: 40px;
  width: 40px;
  border: 2px solid white;
  box-sizing: border-box;
  font-size: 32px;
  padding-left: 0px;
  color: linear-gradient(red, yellow, green); }

.status {
  font-family: 'Abel', sans-serif;
  color: white;
  font-style: italic;
  font-size: 18px; }

.navbar {
  padding-top: 15px;
  box-sizing: border-box;
  width: 100%;
  color: white;
  font-family: 'Abel', sans-serif; }
  .navbar .logo {
    float: left;
    margin-left: 25px;
    font-family: 'Abel', sans-serif;
    font-family: 'Black Ops One', cursive; }
  .navbar .navigation {
    float: right;
    margin-right: 25px; }
  .navbar .navigation a {
    margin-left: 50px;
    text-decoration: none;
    color: white;
    font-size: 18px; }

.navbar::after {
  content: "";
  display: block;
  clear: both; }

.quote {
  width: 100%;
  margin-top: 220px;
  font-family: 'Source Sans Pro', sans-serif; }
  .quote h1 {
    position: relative;
    text-align: center;
    color: #F0D560;
    font-size: 90px;
    margin-right: 25px; }
  .quote .sub {
    position: absolute;
    color: #F0D560;
    font-size: 18px;
    margin-left: 10px;
    top: 30px; }

.home {
  height: 100vh;
  position: relative; }
  .home .halfcircle1 {
    position: absolute;
    width: 6vmax;
    height: 3vmax;
    border-radius: 6vmax 6vmax 0 0;
    background-color: #FF7E53;
    top: 30%;
    left: 15%;
    transform: rotate(-140deg); }
  .home .halfcircle2 {
    position: absolute;
    width: 7vmax;
    height: 4vmax;
    border-radius: 7vmax 7vmax 0 0;
    background-color: #755DAC;
    top: -25;
    left: 30%;
    transform: rotate(-180deg); }
  .home .halfcircle3 {
    position: absolute;
    width: 4vmax;
    height: 2vmax;
    border-radius: 4vmax 4vmax 0 0;
    background-color: #5A5A66;
    top: 30%;
    left: 50%;
    transform: rotate(-220deg); }
  .home .halfcircle4 {
    position: absolute;
    width: 4vmax;
    height: 2vmax;
    border-radius: 4vmax 4vmax 0 0;
    background-color: #5A5A66;
    bottom: 15%;
    right: 10%;
    transform: rotate(-130deg); }
  .home .halfcircle5 {
    position: absolute;
    width: 6vmax;
    height: 3vmax;
    border-radius: 6vmax 6vmax 0 0;
    background-color: #FF7E53;
    bottom: -10;
    left: 70%;
    transform: rotate(-220deg);
    z-index: 0; }
  .home .square {
    position: absolute;
    height: 2vmax;
    width: 2vmax;
    background-color: #1ED3AB;
    right: 15%;
    top: 30%;
    transform: rotate(45deg); }
  .home .innersquare {
    position: absolute;
    height: 1vmax;
    width: 1vmax;
    left: 50%;
    top: 50%;
    margin-top: -0.5vmax;
    margin-left: -0.5vmax;
    background: #201F25; }
  .home .parrelelo {
    position: absolute;
    width: 5vmax;
    height: 5vmax;
    -webkit-transform: skew(-40deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: #5A5A66;
    left: 15%;
    bottom: 10%; }
  .home .circle {
    position: absolute;
    height: 6vmax;
    width: 6vmax;
    border-radius: 50%;
    background-color: #5A5A66;
    top: -5%;
    right: 32%; }
  .home .innercircle {
    position: absolute;
    height: 4vmax;
    width: 4vmax;
    border-radius: 50%;
    top: 50%;
    margin-top: -2vmax;
    margin-left: -2vmax;
    left: 50%;
    background-color: #201F25; }
  .home .stripecontainer1 {
    position: fixed;
    left: 5%;
    top: 60%; }
  .home .stripecontainer2 {
    position: fixed;
    right: 35%;
    top: 60%; }
  .home #stripe2 {
    background-color: #755DAC; }
  .home .stripe:nth-child(1), .home .stripe:nth-child(2), .home .stripe:nth-child(3), .home .stripe:nth-child(4), .home .stripe:nth-child(5), .home .stripe:nth-child(6), .home .stripe:nth-child(7), .home .stripe:nth-child(8) {
    position: absolute;
    height: 0.6vmax;
    width: 1.5vmax;
    left: -1px;
    transform: rotate(-45deg);
    background-color: #F0D560; }
  .home .stripe:nth-child(2) {
    transform: rotate(45deg);
    left: 0.6vmax; }
  .home .stripe:nth-child(3) {
    transform: rotate(-45deg);
    left: 1.3vmax; }
  .home .stripe:nth-child(4) {
    transform: rotate(45deg);
    left: 1.9vmax; }
  .home .stripe:nth-child(5) {
    transform: rotate(-45deg);
    left: 2.7vmax; }
  .home .stripe:nth-child(6) {
    transform: rotate(45deg);
    left: 3.5vmax; }
  .home .stripe:nth-child(7) {
    transform: rotate(-45deg);
    left: 4.2vmax; }
  .home .stripe:nth-child(8) {
    transform: rotate(45deg);
    left: 4.9vmax; }

.work {
  position: relative;
  height: 500px;
  background-color: white;
  z-index: 5; }

.photo {
  position: relative;
  height: 100px;
  width: 100px;
  margin: auto;
  margin-top: -20px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  background-image: url("../img/me.jpg"); }
  .photo .name {
    position: absolute;
    left: 72px;
    top: 33px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FF7E53;
    font-size: 18px;
    line-height: 15px;
    letter-spacing: 1px;
    text-align: left; }

/*# sourceMappingURL=style.css.map */
